{% extends "admin_base.html" %}
{% set section = "pedidos" %}

{% block contenido %}

<h2 class="titulo-admin">Pedidos recientes</h2>

<div class="tabla-admin">
    <table>
        <thead>
            <tr>
                <th>N° de pedido</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Producto/s</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>

            {% for p in pedidos %}
            <tr>
                <td>#{{ p.id }}</td>
                <td>{{ p.usuario.nombre }}</td>
                <td>{{ p.fecha }}</td>
                <td>${{ p.total }}</td>
                <td>
                    {% for item in p.items %}
                    {{ item.producto.nombre }} (x{{ item.cantidad }}),
                    {% endfor %}
                </td>
                <td>{{ p.estado }}</td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>

{% endblock %}