{% extends "admin_base.html" %}
{% set section = "productos" %}

{% block contenido %}

<h2 class="titulo-admin">Editar Producto</h2>

<div class="form-card">
    <form action="{{ url_for('admin_editar_producto', id=producto.id) }}" method="POST" enctype="multipart/form-data">

        <div class="form-grupo">
            <label>Nombre del producto</label>
            <input type="text" name="nombre" value="{{ producto.nombre }}" required>
        </div>

        <div class="form-grupo">
            <label>Precio</label>
            <input type="number" name="precio" step="0.01" value="{{ producto.precio }}" required>
        </div>

        <div class="form-grupo">
            <label>Categoría</label>
            <select name="categoria_id" required>
                {% for c in categorias %}
                <option value="{{ c.id }}" {% if producto.categoria_id==c.id %}selected{% endif %}>
                    {{ c.nombre }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-grupo">
            <label>Descripción</label>
            <textarea name="descripcion" rows="4">{{ producto.descripcion }}</textarea>
        </div>

        <div class="form-grupo">
            <label>Imagen actual</label>
            <img src="{{ url_for('static', filename='img/' + producto.imagen) }}"
                style="width: 120px; border-radius:8px;">
        </div>

        <div class="form-grupo">
            <label>Subir nueva imagen</label>
            <input type="file" name="imagen" accept="image/*">
        </div>

        <div class="form-grupo">
            <label>Stock</label>
            <input type="number" name="stock" value="{{ producto.stock }}" required min="0">
        </div>

        <button type="submit" class="btn-guardar">Guardar Cambios</button>
    </form>



</div>

{% endblock %}