{% extends "base.html" %}
{% block title %}Carrito{% endblock %}

{% block content %}

<div class="carrito-container">

    <a href="/" class="volver">⬅ Volver a inicio</a>

    <h1>Carrito</h1>

    {% if items %}
        {% for item in items %}
        <div class="item-carrito">
            
            <img src="{{ url_for('static', filename='img/' + item.imagen) }}">

            <div class="item-info">
                <h3>{{ item.nombre }}</h3>
                <p>{{ item.descripcion }}</p>
                <p><strong>${{ "{:,.0f}".format(item.precio) }}</strong></p>
            </div>

            <!-- Botón eliminar -->
            <form action="{{ url_for('eliminar_carrito', id=item.id) }}" method="POST">
                <button class="btn-eliminar">❌</button>
            </form>

        </div>
        {% endfor %}
    {% else %}
        <p>No hay productos en el carrito.</p>
    {% endif %}

    <p class="total">Total: ${{ "{:,.0f}".format(total) }}</p>
    <button class="btn-pago">Confirmar pago</button>

</div>

{% endblock %}
